*/*.nc
*.aux*
*/*.tif*
*/__pycache__
*/tmp/*
*.json

/add_to_geoserver/*_subbasin.*
/add_to_geoserver/*.sld
/add_to_geoserver/inputs/*
*.grib2
/routing/examples/*
/boehm_box/*.shp
/boehm_box/*.dbf
/boehm_box/*.prj
/boehm_box/*.zip
/boehm_box/*.sbn
/boehm_box/*.cpg
/boehm_box/*.xml
/boehm_box/*.shx
/boehm_box/*.sbx

/topo_management/radiation_params_report/*.csv
/topo_management/radiation_params_report/veg_masks/
/topo_management/radiation_params_report/temp/
/topo_management/radiation_params_report/*.pdf
/topo_management/radiation_params_report/*.md
/topo_management/radiation_params_report/gis/*.qml
/topo_management/radiation_params_report/gis/*~

/running_snobal/snobal.txt
/running_snobal/*.zip

/topo_management/setting_up_a_basin/new_basin/colormaps/*
/topo_management/setting_up_a_basin/new_basin/dem/*
/topo_management/setting_up_a_basin/new_basin/basin_setup/*
/topo_management/setting_up_a_basin/new_basin/delineate/*
