*/*.nc
*.aux*
*/*.tif*
*/__pycache__
*/tmp/*
*.json

/add_to_geoserver/*_subbasin.*
/add_to_geoserver/*.sld
/add_to_geoserver/inputs/*
*.grib2
/routing/examples/*
/boehm_box/*.shp
/boehm_box/*.dbf
/boehm_box/*.prj
/boehm_box/*.zip
/boehm_box/*.sbn
/boehm_box/*.cpg
/boehm_box/*.xml
/boehm_box/*.shx
/boehm_box/*.sbx

/topo_management/veg_analysis/*.csv
/topo_management/veg_analysis/veg_masks/
/topo_management/veg_analysis/temp/
/topo_management/veg_analysis/*.pdf
/topo_management/veg_analysis/gis/*.qml
/topo_management/veg_analysis/gis/*~
